<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.todd.huihuimall.dao.ProductInfoMapper">

    <!--  所有商品,不带ProductType  -->
    <!--    <select id="selectAll" resultType="ProductInfo">-->
    <!--        select * from `product_info`-->
    <!--    </select>-->

    <!--  所有商品, 带ProductType  -->
    <select id="selectAll" resultMap="productInfoWithProductType">
        select * from `product_info`
    </select>
    <resultMap type="com.todd.huihuimall.domain.ProductInfo" id="productInfoWithProductType">
        <!--其他属性会自动填充,不用显示写出来,除非你的字段名称不对应-->
        <association property="productType"
                     column="type_id"
                     javaType="ProductType"
                     select="selectProductTypeById"></association>
    </resultMap>
    <select id="selectProductTypeById" parameterType="String" resultType="ProductType">
        select * from `product_type` where id=#{typeid}
    </select>

</mapper>